body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
.header {
  font-size: 1.5em;
  margin: 0;
}
.subheader{
  font-size: 1.2em;
  margin: 0;
}
.subtext {
  font-size: 0.9em;
}

.navbar {
  background-color: #283e4a;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 34px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 10px;
}
.navbar a {
  font-size: 1.3em;
  color: rgba(233, 233, 233, 0.719);
}
.navbar span {
  font-size: 12px;
}
.navbar a:hover,
.navbar a:focus {
  color: white;
}
.nav-links {
  width: 45%;
  height: 44px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 45px;
}
.search {
  display: flex;
  align-content: center;
  width: 45%;
  height: 100%;
}
.search img {
  margin-right: 7px;
  cursor: pointer;
  width: 35px;
}
.search input {
  width: 60%;
  border-radius: 3px;
  border: none;
  background-color: azure;
  padding: 7px;
}
.search input:focus {
  background-color: white;
}
.header-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 100;
}
.vertical-line {
  border-left: 1px solid rgba(233, 233, 233, 0.226);
  height: 64px;
}
@media screen and (max-width: 1000px) {
  .navbar span {
    display: none;
  }
}
@media screen and (max-width: 478px) {
  .fa-th,
  .fa-globe,
  .vertical-line {
    display: none;
  }
}


d@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap");


.container > div#main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 200px;

    margin-bottom: 100px;
}

div.container main#main-section {
    grid-area: main-section;
    margin: 0 25px;
    width: 550px;
}

main#main-section div#share-box {
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-top: 1px;

    display: flex;
    flex-direction: column;
}

main#main-section div#share-box div#button-box {
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#share-box div#button-box .fas {
    font-size: 18px;
}

main#main-section div#share-box div#button-box button {
    background: #fff;
    border: 0;
    color: #696c6f;
    border-right: 1px solid rgba(0, 0, 0, 0.15);
    padding: 26px 26.5px;
    cursor: pointer;
}

main#main-section div#share-box div#button-box button#btn-post {
    width: 100%;
    text-align: left;
    padding: 26px 17px;
}

main#main-section div#share-box div#button-box button#btn-post:hover {
    color: #0073b1;
}

main#main-section
    div#share-box
    div#button-box
    button#btn-post:hover
    span#btn-text {
    text-decoration: underline;
}

main#main-section div#share-box div#button-box button#btn-post span#btn-text {
    font-size: 16px;
    font-weight: bold;
    padding-left: 6px;
}

main#main-section div#share-box div#button-box button#btn-document {
    border-right: 0;
    padding: 26px 30px;
}

main#main-section div#share-box div#button-box button#btn-picture:hover,
main#main-section div#share-box div#button-box button#btn-video:hover,
main#main-section div#share-box div#button-box button#btn-document:hover {
    background: #f3f6f8;
}

main#main-section div#link-box {
    padding: 13px 16px;
    background: #f3f6f8;
    font-size: 14px;
}

main#main-section div#link-box a {
    color: #0073b1;
    font-weight: bold;
    padding-right: 1px;
}

main#main-section div#link-box a:hover {
    text-decoration: underline;
}

main#main-section div#feed-sort {
    display: flex;
    align-items: center;
    margin: 6px 0;
}

main#main-section div#feed-sort hr {
    flex: 1;
    border: 0;
    display: block;
    height: 1px;
    border-top: 1px solid rgba(0, 0, 0, 0.15);
}

main#main-section div#feed-sort button {
    border: 0;
    background: transparent;
    margin-left: 15px;
    padding-bottom: 4px;
    cursor: pointer;
}

main#main-section div#feed-sort button span {
    color: rgba(0, 0, 0, 0.6);
}

main#main-section div#feed-sort button span.fas {
    font-size: 18px;
    padding: 0 2px;
}

main#main-section article {
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    margin-bottom: 8px;
}

main#main-section article div#post-author {
    display: flex;
    padding: 14px 14px 0;
}

main#main-section article div#post-author a {
    flex: 1;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
}

main#main-section article div#post-author > div {
    cursor: pointer;
    border-radius: 50%;
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;
}

main#main-section article div#post-author > div:hover {
    background: #f3f6f8;
}

main#main-section article div#post-author > div > span {
    padding: 2px;
    font-size: 4px;
}

main#main-section article div#post-author a > div {
    display: flex;
}

main#main-section article div#post-author a > div img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid transparent;
    margin-right: 6px;
}

main#main-section article div#post-author a > div > div {
    display: flex;
    flex-direction: column;
    margin-top: 1px;
}

main#main-section article div#post-author a > div > div > span {
    line-height: 10px;
    margin-top: 4px;
    margin-left: 1px;
}

main#main-section article div#post-author a > div > div div strong {
    color: #000;
    font-size: 15px;
}

main#main-section article div#post-author a > div > div div strong:hover {
    color: #0073b1;
}

main#main-section article div#post-author a > div > div div span span {
    font-size: 14px;
    font-weight: bold;
}

main#main-section article div#post-data p {
    padding: 8px 14px 0;
}

main#main-section article div#post-data p span {
    color: #0073b1;
    font-weight: bold;
    cursor: pointer;
}

main#main-section article div#post-data p a {
    color: #0073b1;
    font-weight: bold;
}

main#main-section article div#post-data p#post-translation {
    padding-left: 7px;
}

main#main-section article div#post-data p#post-translation button {
    border: 0;
    background: #fff;
    color: #0073b1;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 4px 7px;
    cursor: pointer;
    transition: background-color 0.3s;
}

main#main-section article div#post-data p#post-translation button:hover {
    background-color: #e8f7ff;
}

main#main-section article div#post-data img {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid #e6e9ec;
    border-top: 1px solid #e6e9ec;
}

main#main-section article div#post-interactions div#interactions-amount {
    margin: 7px 16px;
    border-bottom: 1px solid #e6e9ec;
    padding-bottom: 10px;

    display: flex;
    align-items: center;
}

main#main-section
    article
    div#post-interactions
    div#interactions-amount
    span.fas {
    font-size: 8px;
    padding: 3px;
    margin-right: 3px;
    border-radius: 50%;
    color: #f3f6f8;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 1px -1px 0 rgba(0, 0, 0, 0.3),
        -1px 1px 0 rgba(0, 0, 0, 0.3), 1px 1px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

main#main-section
    article
    div#post-interactions
    div#interactions-amount
    span#amount-info {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 3px;
    cursor: pointer;
}

main#main-section
    article
    div#post-interactions
    div#interactions-amount
    span#amount-info
    span {
    font-size: 14px;
    font-weight: bold;
}

main#main-section
    article
    div#post-interactions
    div#interactions-amount
    span#like-icon {
    background: #0092e0;
}

main#main-section
    article
    div#post-interactions
    div#interactions-amount
    span#heart-icon {
    background: #f67373;
}

main#main-section article div#post-interactions div#interactions-btns {
    margin: 4px 10px;
    display: flex;
}

main#main-section article div#post-interactions div#interactions-btns button {
    border: 0;
    background: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 14px;
    padding: 2px 5px;
    height: 30px;
    margin-right: 5px;
    cursor: pointer;

    display: flex;
    align-items: center;
}

main#main-section
    article
    div#post-interactions
    div#interactions-btns
    button:hover {
    background: #f1f1f1;
    color: rgba(0, 0, 0, 0.8);
}

main#main-section
    article
    div#post-interactions
    div#interactions-btns
    button
    span.far {
    font-size: 20px;
    margin-right: 5px;
}

main#main-section
    article
    div#post-interactions
    div#interactions-btns
    button
    span.fa-thumbs-up {
    margin-bottom: 4px;
}

main#main-section
    article
    div#post-interactions
    div#interactions-btns
    button
    span.fa-share-square {
    font-size: 18px;
}

@media only screen and (max-width: 1180px) {
    div.container {
        grid-template-areas:
            "ads ads"
            "left-aside main-section";
        grid-template-rows: 100px 1fr;
        grid-template-columns: 1fr 2fr;
    }
}

@media only screen and (max-width: 861px) {
    div.container {
        grid-template-areas:
            "."
            "main-section ";
        grid-template-rows: 62px 1fr;
        grid-template-columns: 1fr;
    }

    .container > div#main-wrapper {
        align-items: center;
    }
}

@media only screen and (max-width: 660px) {
    div.container {
        padding: 0;
    }

    div.container main#main-section {
        max-width: 550px;
        width: 100%;
        margin: 0;
    }

    main#main-section div#share-box div#button-box button {
        display: none;
    }

    main#main-section div#share-box div#button-box button#btn-post {
        display: block;
        padding: 20px 17px;
        border-right: 0;
    }

    main#main-section div#feed-sort button {
        margin-right: 10px;
    }
}

